.right-backtoolss {
    margin-left: 1100px;
    margin-top: -55px;
}





.chuangjiancaigous {
    margin-top: 1%;
    margin-left: 46%;
    font-weight: 900;
    font-size: 20px;
}





.buttonbaocuens {
    margin-top: 2%;
    margin-left: 85%;
}

/* .caozuoxiangqengs {
    border: 0 !important;
} */


/*----------*/


.pagination-container.hidden {
    display: none;
}


.chuangjianzitis {
    margin-top: 2%;
    margin-left: 10%;
    font-size: 15px;
    font-weight: 600;
    color: rgba(162, 162, 162, 0.984);
}


.chuangjiandialogs {
    margin-left: -500px;
    margin-top: -30px;
    width: 3000px !important;
    /* height: 3000px !important; */
}

/* .xiaobubuttondiv { */
/*margin-top: 1%;*/
/* height: 60px;
    width: 100%; */
/* border:1px solid #007fdf; */
/* background-color: rgba(241, 243, 248, 0.942); */
/* } */

/* .buttonbaocuen {
    margin-left: 85%;
    margin-top: 2%;
} */



.xialakuangyuanjiao {
    /* border-radius: 30% !important; */
    /* border: 1px solid #000000 !important; */
}



/* .margin-top {
    margin-top: 2%;
} */



/* .el-descriptions-item__content{
    width: 50px;
} */

.kaichuangcs {}

/*
滚动条
*/

.table-heads {
    padding-right: 17px;
    background-color: rgba(249, 249, 249, 0.98);
    color: #000;
}

.table-bodys {
    width: 95%;
    height: 300px;
    overflow-y: scroll;
}

/* .table-heads table,
.table-bodys table {
    width: 100%;
}

.table-bodys table tr:nth-child(2n+1) {}

.todds {
    width: 80px !important;
} */

.el-input .el-input__inner {
    border: none !important;
}

/* .table-bodys {
    width: 1629px;
    height: 360px;
    overflow: auto;
} */


.table-style-zhongjiang{
      
     background-color:rgb(231, 227, 227);
     position: absolute;
     left:2%;
}
.tinajia_dingwei{
    position: absolute;
    top:90%;
    left:80%;
}