.Purchase_caigou{
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    margin-top: 1%;
}
.Purchase_sum{
    margin-top: 1%;
    margin-left: 20%;
    font-weight: 200;
}
.Purchase_riqi{
    margin-left: 50%;
}
.el-descriptions-row th{
    width: 120px;
}
.el-descriptions-row td {
    width: 120px;
}

.my-label{
    width: 250px !important;
}
